
h1{
  text-align: center;
  font-style: oblique;
}

.first{
  font-weight:600;
  font-family: cursive;
}

#garnett{
  float: right;
  margin: 12px;
  margin-top: 50px;
  border: 2px solid black;
  max-width: 460px;
  max-height: 460px;
}

#background{
  font-family: sans-serif;
}

#projects{
  background-color: lavenderblush;
}

ul{
  list-style: none;
  text-decoration: underline;
}

ol.projects{
  list-style:decimal;
}

#hobby{

}

#skill{

}

@media screen and (max-width: 990px){
  #garnett{
    margin-left: 200px;
    margin-bottom: 100px;
    float:none;
    width: 50%;
    height: 50%;
  }
}

@media screen and (min-width: 990px){
  #garnett{
    width: 80%;
    height: 80%;
  }
}


@media screen and (min-width: 1100px){
  #garnett{
    width: 90%;
    height: 90%;
  }
}
