
body{
  background-image:url(../img/colors.png);
  margin: 10px;
}


.jumbotron h1{
  text-align: center;
  color: maroon;
  font-family: palatino;
  padding: 10px;
  font-weight: 600;
}

.jumbotron{
  padding: 10px;
  background-color: silver;
}

.first{
  font-weight:600;
  font-family: cursive;
}

#garnett{
  float: right;
  margin: 12px;
  margin-top: 50px;
  border: 2px solid black;
  max-width: 460px;
  max-height: 460px;
}

.panel{
opacity: 0.8;
}
#background{
  font-family: sans-serif;
  opacity: 0.9;
}


#projects{
  background-color: lavenderblush;
}

ul{
  list-style: none;
}


.panel-body{
  padding-bottom: 5px;
}

#quote{
  background-color: lavenderblush;
}

@media screen and (max-width: 989px){
  #garnett{
    margin-left: 200px;
    margin-bottom: 100px;
    width: 60%;
    height: 60%;
  }
}

@media screen and (min-width: 990px){
  #garnett{
    width: 80%;
    height: 80%;
  }
}


@media screen and (min-width: 1100px){
  #garnett{
    width: 90%;
    height: 90%;
  }
}
