
body{
  background-image:url(../img/colors.png);
  background-attachment: fixed;
  margin: 10px;
}


.jumbotron h1{
  text-align: center;
  color: maroon;
  font-family: palatino;
  padding: 10px;
  font-weight: 600;
}

.jumbotron{
  padding: 10px;
  background-color: silver;
}

.first{
  font-weight:600;
  font-family: cursive;
}

#about{
  margin: 20px;
}

#garnett{
  margin-top: 15px;
  float: left;
  border: 2px solid black;
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 400px;;
}

.panel{
opacity: 0.9;
}
#background{
  font-family: sans-serif;
  opacity: 0.9;
}


#projects{
  background-color: lavenderblush;
}

ul{
  list-style: none;
}


.panel-body{
  padding-bottom: 5px;
}

#quote{
  background-color: lavenderblush;
}



@media screen and (max-width: 989px){
  #garnett{
    float: right;
    margin-right: 20px;
    width: 60%;
    height: 60%;
  }
}

@media screen and (min-width: 990px){
  #garnett{
    width: 80%;
    height: 80%;
  }
}


@media screen and (min-width: 1100px){
  #garnett{
    width: 90%;
    height: 90%;
  }
}
